<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <title>About Ray Dalio</title>
  </head>
  <body>
    <h1>Ray Dalio</h1>
    <img src="./images/220px-Web_Summit_2018.jpg" style="width: 500px;"/>
    <p>
        <h4>
            This article may be written from a fan's point of view, rather than a neutral point of view. Please clean it up to conform to a higher standard of quality, and to make it neutral in tone. (April 2021) (Learn how and when to remove this template message)
            Ray Dalio
        </h4>
        
       
        Web Summit 2018 - Forum - Day 2, November 7 HM1 7481 (44858045925).jpg
        Born	Raymond Thomas Dalio
        August 8, 1949 (age 71)[1]
        New York City, New York, U.S.
        Nationality	American
        Education	Long Island University
        Harvard Business School
        Occupation	Hedge fund manager
        Known for	Founder of Bridgewater Associates
        Net worth	US$17.0 billion (March 2021)[2]
        Spouse(s)	Barbara Dalio
        Children	4 sons, including Paul Dalio
        Raymond Thomas Dalio (born August 8, 1949) is an American billionaire investor and hedge fund manager, who has served as co-chief investment officer of the world's largest hedge fund, Bridgewater Associates, since 1985. He founded Bridgewater in 1971 in New York. Within ten years, it was infused with a $5 million investment from the World Bank's retirement fund.[3][4] Dalio is regarded as one of the greatest innovators in the finance world, having popularized many commonly used practices, such as risk parity, currency overlay, portable alpha and global inflation-indexed bond management.[5]
        
        Dalio was born in New York City, and attended C.W. Post College of Long Island University before receiving an M.B.A. from Harvard Business School in 1973. Two years later, in his apartment, Dalio launched Bridgewater. In 2013, it was listed as the largest hedge fund in the world.[6][7] In 2020 Bloomberg ranked him the world's 79th-wealthiest person.[8] Dalio is the author of the 2017 book Principles: Life & Work, about corporate management and investment philosophy. It was featured on The New York Times best seller list, where it was called a "gospel of radical transparency."[9][10]</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/works">See My Work</a></li>
      <li><a href="/photos">Photos</a></li>
    </ul>
  </body>
</html>