<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <title>Ray Dalio's Pictures</title>
  </head>
  <body>
      <h1>Ray Dalio's Pictures</h1>
     <div class="photos">
          
          <img src="./images/220px-Web_Summit_2018.jpg" />
          <img src="./images/ray-pointing.jpg" />
          <img src="./images/ray-painting.jpg" />
          <img src="./images/ray-tuxedo.jpg" />
          <img src="./images/ray-wife.jpg" />
          <img src="./images/ray-young.jpg" />
     </div>
     
    
   <ul> <li><a href="/home">Back to Home</a></li></ul>
  </body>
</html>
